<% if @submitted and @empty_name %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
    You must enter a name!
    </div>
<% end %>


<%= form_with method: "get" do |form| %>
    <form>
        <div class="mb-3">
            <%= form.text_field :name, class:"form-control", placeholder:"name" %>
        </div>

        <div class="mb-3">
            <%= form.text_field :country_code, class:"form-control", placeholder:"country code" %>
        </div>

        <%= form.submit "Submit", class:'btn btn-outline-primary' %>
    </form>
<% end %>


<div class="text-center">
    <div class="badge bg-primary text-wrap">
        <p class="fs-5"> <%= @name.upcase%> </p>
    </div>
    <div class="badge bg-info text-wrap">
        <p class="fs-5"> <%= @country_code.upcase%> </p>
    </div>
</div>


<div class="container">
  <div class="row align-items-start">
    <div class="col">
      
        <!--Gender-->
        <div class="mt-4 p-5 bg-success text-white rounded">
            <h4>Gender</h4>

            <table class="table table-striped">
            <thead>
                <tr>
                    <% @gender.slice("gender", "probability", "count").each do |k, _| %>
                        <th scope="col"> <%=k%> </th>
                    <% end %>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <% @gender.slice("gender", "probability", "count").each do |_, v| %>
                        <td> <%=v%> </td>
                    <% end %>
                </tr>
            </tbody>
            </table>
        </div>

    </div>
    <div class="col">
      
        <!--Age-->
        <div class="mt-4 p-5 bg-warning text-white rounded">
            <h4>Age</h4>

            <table class="table table-striped">
            <thead>
                <tr>
                    <% @age.slice("age", "count").each do |k, _| %>
                        <th scope="col"> <%=k%> </th>
                    <% end %>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <% @age.slice("age", "count").each do |_, v| %>
                        <td> <%=v%> </td>
                    <% end %>
                </tr>
            </tbody>
            </table>
        </div>

    </div>
    <div class="col">
      
        <!--Nationality-->
        <div class="mt-4 p-5 bg-danger text-white rounded">
            <h4>Nationality</h4>

            <table class="table table-striped">
            <thead>
                <tr>
                    <% @nationality.slice("country").each do |k, _| %>
                        <th scope="col"> <%=k%> </th>
                    <% end %>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <% if ! @nationality.empty? %>
                        <% @nationality['country'].each do |d| %>
                            <td> <%= d['country_id'] + ' (' + (d['probability']* 100).round(2).to_s + '%)' %> </td>
                        <% end %>
                    <% end %>
                </tr>
            </tbody>
            </table>
        </div>

    </div>
  </div>
