<!DOCTYPE html>
<html>
  <head>
    <title>Nomen Omen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Bootstrap -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.3/litera/bootstrap.min.css" integrity="sha512-hAjsunVAmC3XhLfgtEybEDJ/Ae3q06FEoqoc6NitOdGr5SUKrA+putqDvakQeWi2EEy0pW7ipri9oBjrBb7+zg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/main">Nomen Omen</a>
      </div>
    </nav>
    <br/>

    <div class="container">
      <%= yield %>
    </div>

    <br/>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">&copy; 2022 Patrik Drbal</span>
        </div>
      </footer>
    </div>
  </body>
</html>
